<header>
  <h1>Nightcorer</h1>
</header>

<main>
  @if (audioFile(); as file) {
    <section id="player">
      <h3><i class="fa-solid fa-headphones"></i> Player</h3>
      <div class="file-name">{{ file.name }}</div>
      <app-audio-player></app-audio-player>
    </section>

    <section id="controls">
      <h3><i class="fa-solid fa-sliders"></i> Controls</h3>
      <div class="inputs">
        <app-control-input-number label="Volume" unit="%" [min]="0" [max]="100" [isDecimal]="false"
          [(value)]="volumePercent"></app-control-input-number>

        <app-control-input-number label="Semitones" [min]="-12" [max]="12" [sliderStep]="0.05"
          [value]="player.semitones()" (valueChange)="player.setSemitones($event)"></app-control-input-number>

        <app-control-input-number label="Playback speed" unit="%" [min]="1" [max]="300" [isDecimal]="false"
          [(value)]="speedPercent"></app-control-input-number>

        <!--<app-control-input-number label="Reverb decay" [min]="0.01" [max]="10" [sliderStep]="0.01"
          [value]="player.reverbDecay()" (valueChange)="player.setReverbDecay($event)"></app-control-input-number>-->
      </div>

      <hr>

      <div>
        <div>Original duration: {{ player.originalDuration() | time }}</div>
        <div>
          <span>Estimated duration: {{ player.estimatedDuration() | time }}</span>

          @if (durationDiference() != 0) {
            <span>({{ durationDiference() > 0 ? '+' : '' }}{{ durationDiference() | number:'1.0-0' }}s)</span>
            }
        </div>
      </div>

      <button (click)="exportToWav()">Export wav</button>
      <button (click)="exit()">Convert other song</button>
    </section>
    } @else {
      <section>
        <h3><i class="fa-solid fa-music"></i> Upload song</h3>
        <app-file-input (fileChanged)="importAudioFile($event)"></app-file-input>
      </section>
    }
</main>

<footer>
  <span class="emoji">&#x2764;</span>
  Made with love :3
  <span class="emoji">&#x2764;</span>
</footer>