html, body {
  margin: 0;
  font-size: 105%;
  font-family: 'Info Story', 'Courier New', Courier, monospace;
  background-color: #ffc9fb;
}

*, ::before, ::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.emoji {
  font-family: "Segoe UI Emoji";
}

@font-face {
  font-family: 'Comic Mono';
  src: url('fonts/comic_mono/ComicMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Info Story';
  src: url('fonts/info_story/InfoStory.otf') format('truetype');
}
