<label (dragenter)="onEnterDrag($event)" (dragleave)="onLeaveDrag($event)" (dragover)="onDragOver($event)"
  (drop)="onDropFile($event)">
  <div class="content">
    @if (file(); as file) {
      <div class="file">
        <strong>🎵 {{ file.name }}</strong>

        @if (player.originalDuration(); as originalDuration) {
          <small>Original duration: {{ originalDuration | time }}</small>
        }
      </div>
    } @else {
      <div class="title">Drag and drop a song here :3</div>
      <div class="formats">MP3, WAV, AAC, OGG, FLAC...</div>
    }
  </div>
  <input type="file" accept="audio/*" hidden (change)="importFile($event)" />
</label>